@model JohnBlog.ViewModels.HomeVm

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr/>
    <h1 class="display-4">John's Blog Site</h1>
    <h3>Observations, Advice, Tutorials</h3>
    <div>
        @foreach (var tag in Model!.Tags!)
        {
            <a asp-controller="Posts" asp-action="PostsByTag" asp-route-tag="@tag" class="btn btn-outline-2">@tag</a>    
        }

    </div>
    <hr/>

    @* TODO: Make a carousel and take top 5? *@
    @if (Model.Blogs!.Any())
    {
        @await Html.PartialAsync("~/Views/Blogs/Index.cshtml", Model.Blogs)
    }

    <hr/>
    <h1>Recent Posts</h1>
    <hr/>
    <div class="mb-5">
            @if (Model.Posts!.Any())
            {
                @await Html.PartialAsync("~/Views/Posts/Index.cshtml", Model.Posts) 
            }
        
    </div>
</div>