html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav.navbar {
  background-color: #82c7da;
}
nav li {
  margin-right: 1em;
}
nav.navbar a.nav-link:hover{
  font-weight: bolder;
  color: #ff0059; /* TODO: not working */
}