@using JohnBlog.Enums
@model JohnBlog.Models.Post

@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <div class="col-11">

        <h1>Edit - Post</h1>
    </div>
    <div class="col-1">
        @* TODO: fix sizing and make right justified for different screen sizes*@
        <a asp-action="Delete" asp-route-Id="@Model!.Id">
            <button type="button" class="btn rounded-pill bg-warning h-100 w-100">Delete</button>
        </a>
    </div>

</div>
<hr/>
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="BlogId"/>
            <input type="hidden" asp-for="BlogUserId"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <textarea asp-for="Title" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <textarea asp-for="Abstract" class="form-control" rows="4" readonly id="UnformattedContent" style="background-color: #c0c0c0; color: #000000;"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Created"/>
            <div class="form-group">
                <label asp-for="ReadyStatus" class="control-label"></label>
                <select asp-for="ReadyStatus" class="form-control" asp-items="@Html.GetEnumSelectList<ReadyStatus>()"></select>
                <span asp-validation-for="ReadyStatus" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Slug"/>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <div class="input-group form-control">
                    <span class="input-group-text">#</span>
                    <input type="text" class="form-control" placeholder="Tag Text" aria-label="Tag" id="TagEntry">
                    <button type="button" class="btn btn-primary" onclick="AddTag()">
                        <i class="bi bi-plus-circle"></i> Add
                    </button>
                </div>
                @* Make into a partial *@
                <div class="form-group">
                    <ul id="TagList" class="list-group list-group-horizontal">
                        @foreach (var tag in Model!.Tags)
                        {
                            <li class="list-group-item">
                                <button type="button" onclick="parentElement.remove();">
                                    <i class="bi bi-x-circle"></i>
                                </button>
                                #@tag.TagText
                                <input type='hidden' name='tagEntries[]' value='@tag.TagText'/>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group h-100">
                <label asp-for="Content" class="control-label"></label>
                @* Hide the bound area and use the init property to populate the control to preserve formatting *@
                <input class="w-100" id="myTextarea"/>
                <textarea hidden asp-for="Content" id="FormattedContent"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group text-center m-3">
        <input type="submit" value="Save" class="btn btn-primary w-100"/>
    </div>
</form>
<div class="text-center">
    <a asp-action="PostsByBlogIndex" asp-route-blogId="@Model!.BlogId">Back to List</a>
</div>

@section Scripts
{
    <script src="~/js/tinySetup.js"></script>
}